@font-face
{
	font-family: primetime;
	src: url(fonts/primetime.ttf);
	
}
@font-face
{
	font-family: blackthorns;
	src: url(fonts/blackthorns.ttf);
	
}
@font-face
{
	font-family: blackthorns-black;
	src: url(fonts/blackthorns-black.ttf);
	
}
@font-face
{
	font-family: morningtype;
	src: url(fonts/Morningtype.ttf);
	
}
@font-face
{
	font-family: manila;
	src: url(fonts/ManilaSansReg.otf);
	
}
@font-face
{
	font-family: morningtype-light;
	src: url(fonts/MorningtypeLight.ttf);
}
@font-face
{
	font-family: impact;
	src: url(fonts/MaximumImpact.ttf);
}
.bod
{
	/*background-color: #5593f6;*/
	background-color: white;
	color: white;
	z-index: 3;
}

.head
{
	background-color: #2c77f3;
	color: white;
	font-family: primetime;
	font-size: 80px;
	position: fixed;
	top: 0px;
	left: 0px;
	text-indent: 50px;
	padding: 15px;
	width: 100%;
	z-index: 10;
}

.title
{
	background-color: #2c77f3;
	font-family: primetime;
	font-size: 60px;
	color: #285bb0;
	position:fixed;
	left:-0px;
	top: 125px;
	padding: 15px;
	text-indent: 50px;
	width: 100%;
	z-index: 1;
}

.p1
{
	position: relative;
	font-family: impact;
	color: black;
	width: 1200px;
	top: 150px;
	margin: auto;
	font-size: 24px;
	z-index: 3;
	background: white;
	
}
.bodycover
{
	position:relative;
	top: 200px;
	left:-50px;
	width:110%;
	height: 100%;
	z-index: 2;
	background: white;
	margin: auto;
}




ul#nav {Margin: 0 0 0 31%; position: fixed; left: 400px; top: 60px; font-family: manila; font-size: 28px;}
ul.drop a { display:block; color: white; font-family: manila; font-size: 28px; text-decoration: none; text-align: center;}
ul.drop{ list-style: none; margin: 0; padding: 0; background: #2c77f3;}
ul.drop li, ul.drop ul { list-style: none; margin: 0; padding: 0; background: #2c77f3;}
ul.drop { position: fixed; z-index: 597;}
ul.drop li { float: left; line-height: 1.3em; vertical-align: middle; zoom: 1; padding: 5px 10px; }
ul.drop li.hover, ul.drop li:hover { position: fixed; z-index: 599; cursor: hand; background: #093e95;  color: white;}
ul.drop ul { visibility: hidden; position: fixed; top: 100%; left: 0; z-index: 598; width: 200px; background: #2c77f3;}
ul.drop ul li { float: none; }
ul.drop ul ul { top: -2px; left: 100%; }
ul.drop li:hover > ul { visibility: visible ;}

/*
@keyframes navDrop
{
0%{top: -100px;}
50%{top: 110px;}
70%{top: 95px;}
100%{top: 100px;}
}
@-webkit-keyframes navDrop
{
0%{top: -100px;}
50%{top: 110px;}
70%{top: 95px;}
100%{top: 100px;}
}
*/
