.header{color: #0000aa; Font-size: 25; Font-Family: Arial;}
.normText{Color: white; Font-Size: 16; Font-Family: Arial; width: 750px; opacity: 1.0;}
.normTextLarge{Color: white; Font-Size: 20; Font-Family: Verdana; width: 750px; opacity: 1.0;}
h1{color: white; font-family: Arial}
.Captiontext{Color: white; font-size: 12px; font-family: Arial;}

p{Color: white; font-size: 16px; font-family: Verdana, Geneva, sans-serif;}
.italic{Color: white; font-size: 18px; font-family: Verdana, Geneva, sans-serif; font-style: italic;}
.bold{Color: white; font-size: 18px; font-family: Verdana, Geneva, sans-serif; font-weight: bold;}
.color{Color:red; font-size:18px; font-family: Verdana, Geneva, sans-serif;}





ul#nav {width: 474px; Margin: 0 0 0 31%; animation: navDrop 1.5s; -webkit-animation: navDrop 1.5s;position: absolute; top: 100px;}
ul.drop a { display:block; color: #09579C; font-family: Arial; font-size: 14px; text-decoration: none; padding: 3px; text-align: center;  border-radius: 10px;}
ul.drop, ul.drop li, ul.drop ul { list-style: none; margin: 0; padding: 0; border: 1px solid #40A1E6; background: #40A1E6; color: #09579C; border-radius: 10px;}
ul.drop { position: relative; z-index: 597; float: left; }
ul.drop li { float: left; line-height: 1.3em; vertical-align: middle; zoom: 1; padding: 5px 10px; }
ul.drop li.hover, ul.drop li:hover { position: relative; z-index: 599; cursor: hand; background: #40B0FF;  color: #B3F5F0;}
ul.drop ul { visibility: hidden; position: absolute; top: 100%; left: 0; z-index: 598; width: 195px; background: #40A1E6; border: 1px solid #40A1E6; }
ul.drop ul li { float: none; }
ul.drop ul ul { top: -2px; left: 100%; }
ul.drop li:hover > ul { visibility: visible ;}


@keyframes navDrop
{
0%{top: -100px;}
50%{top: 110px;}
70%{top: 95px;}
100%{top: 100px;}
}
@-webkit-keyframes navDrop
{
0%{top: -100px;}
50%{top: 110px;}
70%{top: 95px;}
100%{top: 100px;}
}

#content{Width: 60%; height: 300; text-align: left; background: #40A1E6; opacity: 0.6; padding: 8px; border-radius: 25px;}
#content p{Margin: 30px 40px; color: #000000; font-weight: bold;}
#fishtank{background: #0055E8; width: 800;}
#footer{float: bottom; color: white; font-size: 12;}

body{background-attachment: fixed;}



body{background-image:url(tiger.png); background-width: 100%; background-color: black; background-repeat: no-repeat; background-size: cover;}